.details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: auto;
}


.samples {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sample {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 4px;
  margin: 8px 0;
}

.sampleActivationBar {
  width: 100%; 
  border: 1px solid lightgray;
  height: 14px;
  position: relative;
  margin: 1px;
}
.sampleActivationBarForeground {
  height: 12px;
  opacity: 0.7;
}
.sampleActivationBarForeground:hover {
  opacity: 1;
}
.sampleActivationBarLabel {
  font-size: 10px;
  position: absolute;
  top: -2px;
  left: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  width: 100%;
}

.sampleText {
  font-size: 12px;
}

.similarFeatures {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.similarFeature {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}